

<!DOCTYPE HTML>
<html>
<head>
<title>AINJ IT SERVICES PVT LTD</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Augment Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
 <!-- Bootstrap Core CSS -->
<link href="../admin/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
<!-- Custom CSS -->
<link href="../admin/css/style.css" rel='stylesheet' type='text/css' />
<!-- Graph CSS -->
<link href="../admin/css/font-awesome.css" rel="stylesheet"> 
<!-- jQuery -->
<link href='//fonts.googleapis.com/css?family=Roboto:700,500,300,100italic,100,400' rel='stylesheet' type='text/css'>
<!-- lined-icons -->
<link rel="stylesheet" href="../admin/css/icon-font.min.css" type='text/css' />
<!-- //lined-icons -->
<script src="../admin/js/jquery-1.10.2.min.js"></script>
<!--clock init-->
<style>

	</style>
</head> 
<body background="../admin/images/logo1.jpg">

								<!--/login-->
								
<div class="error_page">
	<!--/login-top-->
	
		<div class="error-top">

		<h2 class="inner-tittle page"><center><img src="../admin/images/logo.jpg" />AINJ IT SERVICES PVT LTD</center></h2>
		    <div class="login">
			<h3 class="inner-tittle t-inner">Login</h3>
					<div class="buttons login">
								<ul>
									<li><a href="#" class="hvr-sweep-to-right">Facebook</a></li>
									<li class="lost"><a href="#" class="hvr-sweep-to-left">Twitter</a> </li>
									<div class="clearfix"></div>
								</ul>
							</div>
					<form method="post" action="/adminlogin">
							<input type="text" class="text" name="uname">
							<input type="password" name="pass">
							<div class="submit"><input type="submit" value="login"></div>
							<div class="clearfix"></div>
							
							<div class="new">
								<p><label class="checkbox11"><input type="checkbox" name="checkbox"><i> </i>Forgot Password ?</label></p>
								<p class="sign">Do not have an account ? <a href="sign.html">Sign Up</a></p>
								<div class="clearfix"></div>
							</div>
						</form>
			</div>

			
		</div>
		
		
	<!--//login-top-->
</div>

	<!--//login-->
<!--footer section start-->
<div class="footer">
		<div class="error-btn">
					<a class="read fourth" href="index.html">Return to Home</a>
					</div>
	<p>COPYRIGHT © 2014-2019. ALL RIGHTS RESERVED. DESIGNED BY <a href="http://www.ainj.in/">AINJ IT SERVICES PVT LTD</a></p>
</div>
<!--footer section end-->
<!--/404-->
<!--js -->
<script src="admin/js/jquery.nicescroll.js"></script>
<script src="admin/js/scripts.js"></script>
<!-- Bootstrap Core JavaScript -->
   <script src="admin/js/bootstrap.min.js"></script>
</body>
</html>