<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="We provide IT Services, Infotech Services, Internships for college students, digital marketing, reseller hosting, job consultancy, labour contract working, man power providance etc. Call us +917720003134/ +917720003133">
    <meta name="keywords" content="IT Services, Java classes in pune,Android development course,web designing course, c programming,Software testing in pune.Software courses in pune,Big data and Hadoop training in pune,job oriented courses in pune, Java classes in pune,Android development course,web designing course, c programming,Software testing in pune.Software courses 
in pune,Big data and Hadoop training in pune,job oriented courses in pune,IT services, java web development, website designing, android application, billing software, training of IT services, Internship for students, College Project guidance, all types of siftware, digital marketing, reseller hosting, software development, accounting and billing, jas ERP, Plant Nursery, Tailor and cloth, Jas Billing for marbel shop, Hotel and lodge, event management, Transport, Payroll, Hospital and opd, IT Services,
online jobs,resume service,interview preparation tips, placement papers,Any jobs,jobs in pune,jobs in india,walkin jobs,part time jobs,full time jobs,IT jobs, bpo jobs,career guidance,online website builder,classy websites,web designing course, c programming,Software testing in pune.Software courses in pune,Big data and Hadoop training in pune,job oriented courses in pune, accounting and billing, jas ERP, Plant Nursery, Tailor and cloth, Jas Billing for marbel shop, Hotel and lodge, event management, Transport, Payroll, Hospital and opd, IT Services, Online store, Online software, consultancy, labour contract, labour working, job consultancy, online courses, online java course, java based company">
    <meta name="author" content="Ashfaq Shaikh">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>Welcome | AINJ IT SERVICES PVT LTD</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Hind:400,700" rel="stylesheet">

	<!-- Bootstrap -->
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" />
	<link type="text/css" rel="stylesheet" href="css/bootstrap-theme.min.css" />

	<!-- Slick -->
	<link type="text/css" rel="stylesheet" href="css/slick.css" />
	<link type="text/css" rel="stylesheet" href="css/slick-theme.css" />

	<!-- nouislider -->
	<link type="text/css" rel="stylesheet" href="css/nouislider.min.css" />

	<!-- Font Awesome Icon -->
	<link rel="stylesheet" href="css/font-awesome.min.css">

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="css/style.css" />
		
<link rel="stylesheet" href="css/bootstrap-theme.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css">
<script src="js/bootstrap.min.js"></script>

</head>

<body>
	
	<!-- HEADER -->
	<header>
		<!-- top Header -->
		<div id="top-header">
			<div class="container">
				<div class="pull-left">
					<span>Welcome to AINJ IT SERVICES PVT LTD</span>
				</div>
				<div class="pull-right">
					<ul class="header-top-links">
						<li><a href="https://api.whatsapp.com/send?phone=919096878181&text=&source=&data=Ask me">Send Whatsapp Message</a></li>
						<li><a href="#">Newsletter</a></li>
						<li><a href="faq.html">FAQ</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- /top Header -->

		<!-- header -->
		<div id="header">
			<div class="container">
				<div class="pull-left">
					<!-- Logo -->
					<div class="header-logo">
						<a class="logo" href="index1.html">
							<img src="./img/ainjlogo.png" alt="">
						</a>
					</div>
					<!-- /Logo -->

					<!-- Search -->
					<div class="header-search">
						<form>
							<input class="input search-input" type="text" placeholder="Enter your keyword">
							<select class="input search-categories">
								<option value="0">All Services</option>
								<option value="1">AINJ IT SERVICES</option>
								<option value="1">AINJ INFOTECH SERVICES</option>
								<option value="1">CONSULTANCY</option>
								<option value="1">DIGITAL MARKETING</option>
							</select>
							<button class="search-btn"><i class="fa fa-search"></i></button>
						</form>
					</div>
					<!-- /Search -->
				</div>
				<div class="pull-right">
					<ul class="header-btns">
						<!-- Account -->
						<li class="header-account dropdown default-dropdown">
							<div class="dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="true">
								<div class="header-btns-icon">
									<i class="fa fa-user-o"></i>
								</div>
								<strong class="text-uppercase">My Account <i class="fa fa-caret-down"></i></strong>
							</div>
							<a href="login.html" class="text-uppercase">Login</a> / <a href="signup.html" class="text-uppercase">Join</a>
							<ul class="custom-menu">
								<li><a href="#"><i class="fa fa-user-o"></i> My Account</a></li>
								<li><a href="#"><i class="fa fa-heart-o"></i> My Wishlist</a></li>
								<li><a href="#"><i class="fa fa-check"></i> Checkout</a></li>
								<li><a href="login.html"><i class="fa fa-unlock-alt"></i> Login</a></li>
								<li><a href="signup.html"><i class="fa fa-user-plus"></i> Create An Account</a></li>
							</ul>
						</li>
						<!-- /Account -->

						<!-- Cart -->
						<li class="header-cart dropdown default-dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
								<div class="header-btns-icon">
									<i class="fa fa-shopping-cart"></i>
									<span class="qty">3</span>
								</div>
								<strong class="text-uppercase">My Cart:</strong>
								<br>
								<span>35.20$</span>
							</a>
							<div class="custom-menu">
								<div id="shopping-cart">
									<div class="shopping-cart-list">
										<div class="product product-widget">
											<div class="product-thumb">
												<img src="./img/thumb-product01.jpg" alt="">
											</div>
											<div class="product-body">
												<h3 class="product-price">$32.50 <span class="qty">x3</span></h3>
												<h2 class="product-name"><a href="#">Product Name Goes Here</a></h2>
											</div>
											<button class="cancel-btn"><i class="fa fa-trash"></i></button>
										</div>
										<div class="product product-widget">
											<div class="product-thumb">
												<img src="./img/thumb-product01.jpg" alt="">
											</div>
											<div class="product-body">
												<h3 class="product-price">$32.50 <span class="qty">x3</span></h3>
												<h2 class="product-name"><a href="#">Product Name Goes Here</a></h2>
											</div>
											<button class="cancel-btn"><i class="fa fa-trash"></i></button>
										</div>
									</div>
									<div class="shopping-cart-btns">
										<button class="main-btn">View Cart</button>
										<button class="primary-btn">Checkout <i class="fa fa-arrow-circle-right"></i></button>
									</div>
								</div>
							</div>
						</li>
						<!-- /Cart -->

						<!-- Mobile nav toggle-->
						<li class="nav-toggle">
							<button class="nav-toggle-btn main-btn icon-btn"><i class="fa fa-bars"></i></button>
						</li>
						<!-- / Mobile nav toggle -->
					</ul>
				</div>
			</div>
			<!-- header -->
		</div>
		<!-- container -->
	</header>
	<!-- /HEADER -->

	<!-- NAVIGATION -->
	<div id="navigation">
		<!-- container -->
		<div class="container">
			<div id="responsive-nav">
				<!-- category nav -->
				<div class="category-nav">
					<span class="category-header">Services <i class="fa fa-list"></i></span>
					<ul class="category-list">
						<li class="dropdown side-dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">IT SERVICES <i class="fa fa-angle-right"></i></a>
							<div class="custom-menu">
								<div class="row">
									<div class="col-md-4">
										<ul class="list-links">
											<li>
												<h3 class="list-links-title">Services</h3></li>
											<li><a href="/show-prod">Online Sale</a></li>
											<li><a href="freelancing.html">Freelancing</a></li>
											<li><a href="/show-freelance-job">View Freelance Jobs</a></li>
											<li><a href="#">Reseller Hosting</a></li>
											<li><a href="#">ERP</a></li>
										<!--	<li><a href="#">Bags & Shoes</a></li> -->
										</ul>
										<hr class="hidden-md hidden-lg">
									</div>
									
									
								</div>
								
							</div>
						</li>
					
						<li class="dropdown side-dropdown"><a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Infotech Services <i class="fa fa-angle-right"></i></a>
							<div class="custom-menu">
								<div class="row">
									<div class="col-md-4">
										<ul class="list-links">
											<li>
												<h3 class="list-links-title">Services</h3></li>
											<li><a href="/show-course">Online Courses</a></li>
											<li><a href="internshipdetails.html">Online Internship</a></li>
											<li><a href="/show-colpro">Online College Project</a></li>
											
										</ul> 
										
									</div>
									
									
								</div>
							</div>
						</li>
					<!--	<li><a href="#">Computer & Office</a></li>
						<li><a href="#">Consumer Electronics</a></li> -->
						<li class="dropdown side-dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Job Consultancy <i class="fa fa-angle-right"></i></a>
							<div class="custom-menu">
								<div class="row">
									<div class="col-md-4">
										<ul class="list-links">
											<li>
												<h3 class="list-links-title">Services</h3></li>
											<li><a href="/show-job">Job Openings</a></li>
											<li><a href="signup.html">Registration for Online Placement Services</a></li>
											<li><a href="/show-resumes-cust">Our Services</a></li>
										<!--	<li><a href="#">Jewelry & Watches</a></li>
											<li><a href="#">Bags & Shoes</a></li> -->
										</ul>
				
									</div>
								
								</div>
							</div>
						</li>
						
						<li class="dropdown side-dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Digital Marketing <i class="fa fa-angle-right"></i></a>
							<div class="custom-menu">
								<div class="row">
									<div class="col-md-4">
										<ul class="list-links">
											<li><h3 class="list-links-title">Services</h3></li>
											<li><a href="/dmpage">Offers</a></li>
											<li><a href="packages.html">Packages</a></li>
											
										
										</ul>
				
									</div>
								
								</div>
							</div>
						</li>
						
						<li><a href="/show-blogs-cust">Blog</a></li>
						<li><a href="#">SMS</a></li>
						<li><a href="signup.html">Sign Up</a></li>
							
						</br>
						</br>
						</br>
						</br>
						</br>
						</br>
						</br>
						
						
					</ul>
				</div>
				<!-- /category nav -->

				<!-- menu nav -->
				<div class="menu-nav">
					<span class="menu-header">Menu <i class="fa fa-bars"></i></span>
					<ul class="menu-list">
						<li><a href="index1.html">Home</a></li>
						<li><a href="gallery.html">Gallery</a></li>
						<li><a href="#">SMS</a></li>
						<li><a href="/show-blogs-cust">Blog</a></li>
						<li><a href="contact.html">Contact</a></li>

						<!-- <li><a href="#">Sales</a></li> -->
						
						
					</ul>
				</div>
				<!-- menu nav -->
			</div>
		</div>
		<!-- /container -->
	</div>
	<!-- /NAVIGATION -->

	<!-- HOME -->
	<div id="home">
		<!-- container -->
		<div class="container">
			<!-- home wrap -->
			<div class="home-wrap">
				<!-- home slick -->
				<div id="home-slick">
					<!-- banner -->
					<div class="banner banner-1">
						<img src="./img/banner01.jpg" alt="">
					
					</div>
					<!-- /banner -->

					<!-- banner -->
					<div class="banner banner-1">
						<img src="./img/banner02.jpg" alt="">
					
					</div>
					<!-- /banner -->

					<!-- banner -->
					<div class="banner banner-1">
						<img src="./img/banner03.jpg" alt="">
					
					</div>
					<div class="banner banner-1">
						<img src="./img/banner04.jpg" alt="">
					
					</div>
					<div class="banner banner-1">
						<img src="./img/banner05.jpg" alt="">
					
					</div>

					<div class="banner banner-1">
						<img src="./img/banner06.jpg" alt="">
					
					</div>

					<div class="banner banner-1">
						<img src="./img/banner07.jpg" alt="">
					
					</div>

					<div class="banner banner-1">
						<img src="./img/banner08.jpg" alt="">
					
					</div>
					<!-- /banner -->
				</div>
				<!-- /home slick -->
			</div>
			<!-- /home wrap -->
		</div>
		<!-- /container -->
	</div>
	<!-- /HOME -->

	<!-- section -->
	
	<!-- /section -->

	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<center><h2>About Us</h2></center>
AINJ IT SERVICES PVT LTD is a company started with vision to excel in the field of IT 
and IT Related Services, like Training, Software Development, Web Development, Consultancy, Placements, Digital Marketing etc. 
AINJ IT SERVICES PVT LTD is involved into providing state-of-the-art high-end specialized training in Software Course & also involved into Networking, 
Software Development and Web Development projects on turnkey basis. JAS has a dedicated Placement Cell with a strong team of Executives 
who works around the clock with Students & Industry to help them in getting the required opportunities. Company offer a 30-days 
money back guarantee on all shared hosting accounts. If you're unsatisfied for any reason we'll refund you. Best Software training with live 
project experience and 100% placement assistance. Company provise Android and web related, 
all type of IT service and develop the product. Digital Marketing services like SEO, SME,SMO, SMM, email marketing, branding, Provides Job Consultancy Services, Labour Contract Serviecs, Providing free job consultancy etc.	</br></br>	

<center><h2>Our Objectives</h2></center>
<p> We are in business of software development and website designing, customization, implementation, maintenance and dealing in computer software and solutions.

 Provide you very best service.

 Our product is profitable for your business.</p>
 
 <center><h2>Mission</h2></center>
	
	<p>Our mission is to provide superior services each and every field or working professional associated us.

 It is through our passion and commitment to our clients that are develop software to face real-world challenges, it is our love for dedication to what we do that enable us to become a better company for our clients, our community and the world.

 Provide customers with superb value technology.

 Superior services and support, easy to buy, easy to use.</p>
</div>
		<!-- /container -->
	</div>
	
	


	<!-- FOOTER -->
	<footer id="footer" class="section section-grey">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- footer widget -->
				<div class="col-md-3 col-sm-6 col-xs-6">
					<div class="footer">
						<!-- footer logo -->
						<div class="footer-logo">
							<a class="logo" href="index1.html">
		            <img src="./img/ainjlogo.png" alt="">
		          </a>
						</div>
						<!-- /footer logo -->

						<p><b>Head Office:</b> Farate Galli, Behind State Bank of India, Daund, Dist. Pune - 413801, India
</p>
						<p><b>Branch Office:</b> Office No. 19, Ground Floor, Aman Prestige, CTS No. 604, Shaniwar Peth, Behind Narayan Peth Police Chowky, Pune-411030, India</p>
						<p><b>Email:</b> jasitservices313@gmail.com</p>
						<p><b>Contact:</b> 7720003133/ 7720003134</p>
						<!-- footer social -->
						
						<!-- /footer social -->
					</div>
				</div>
				<!-- /footer widget -->

				<!-- footer widget -->
				<div class="col-md-3 col-sm-6 col-xs-6">
					<div class="footer">
						<h3 class="footer-header">My Account</h3>
						<ul class="list-links">
							<li><a href="#">My Account</a></li>
							<li><a href="#">My Wishlist</a></li>
							<li><a href="#">Checkout</a></li>
							<li><a href="login.html">Login</a></li>
						</ul>
					</div>
				</div>
				<!-- /footer widget -->

				<div class="clearfix visible-sm visible-xs"></div>

				<!-- footer widget -->
				<div class="col-md-3 col-sm-6 col-xs-6">
					<div class="footer">
						<h3 class="footer-header">Customer Service</h3>
						<ul class="list-links">
							<li><a href="shipping-return.html">Shipping & Return</a></li>
							<li><a href="privacy-refund-policy.html">Privacy & Refund Policy</a></li>
							<li><a href="tnc.html">Terms & Conditions</a></li>
							<li><a href="faq.html">FAQ</a></li>
						</ul>
					</div>
				</div>
				<!-- /footer widget -->

				<!-- footer subscribe -->
				<div class="col-md-3 col-sm-6 col-xs-6">
					<div class="footer">
						<h3 class="footer-header">Stay Connected</h3>
						<p>Give us your mail id & Stay Connected.</p>
						<form>
							<div class="form-group">
								<input class="input" placeholder="Enter Email Address">
							</div>
<a href="jasitservices313@gmail.com"><button class="primary-btn">Join Newslatter</button></a>						</form>
					</div></br>
					
				</div>
				
					<!-- /footer subscribe -->
			<div class="container">
			<center>	<ul class="footer-social">
							<li><a href="#"><i class="fa fa-facebook-square fa-3x"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter-square fa-3x"></i></a></li>
							<li><a href="#"><i class="fa fa-instagram fa-3x"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus-square fa-3x"></i></a></li>
							<li><a href="#"><i class="fa fa-pinterest-square fa-3x"></i></a></li>
							<li><a href="#"><i class="fa fa-whatsapp fa-3x"></i></a></li> 
						</ul> </center>
				
				</div>
			
			</div>
			<!-- /row -->
			<hr>
			<!-- row -->
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<!-- footer copyright -->
					<div class="footer-copyright">
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
												<p>COPYRIGHT © 2014-2019. ALL RIGHTS RESERVED. DESIGNED BY <a href="http://www.ainj.in/">AINJ IT SERVICES SERVICES PVT LTD</a></p>

						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					</div>
					<!-- /footer copyright -->
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</footer>
	<!-- /FOOTER -->

	<!-- jQuery Plugins -->
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/slick.min.js"></script>
	<script src="js/nouislider.min.js"></script>
	<script src="js/jquery.zoom.min.js"></script>
	
	<script src="js/main.js"></script>
	
	<!-- Modal Box -->
<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
                <h4 class="modal-title">Subscribe here to Go ahead</h4>
            </div>
            <div class="modal-body">
               
                <form method="post" action="/get-started">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Name" name="fnm" required="">
                    </div>
					<div class="form-group">
                        <input type="number" class="form-control" placeholder="Phone" name="ph" required="">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Email Address" name="eadd" required="">
                    </div>
                    <button type="submit" class="btn btn-primary">Get Started</button>
                </form>
            </div>
        </div>
    </div>
</div>

</body>

</html>
